<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script type="text/javascript" th:src="@{/script/script.js}"></script>
    <title>Notice Board - Display entry</title>

</head>

    <body>

        <nav th:insert="fragments/navbar.html :: nav"></nav>

        <!--Display Entry-->
        <div class="row" style="margin-right: 0;">

            <div class="col-sm-8 offset-sm-2">

                <h2 th:text="${entry.title}"></h2>

                <h4 th:text="${entry.date}"></h4>

                <p th:text="'Written by: ' + ${entry.userId}"></p>

                <p th:text="${entry.textField}"></p>

                <img style="max-width: 500px;" th:src="${entry.imageURL}" alt="No image">

                <table class="table" style="margin-top: 40px;" th:unless="${comments.isEmpty()}">
                <thead>
                <tr>
                    <th>User</th>
                    <th>Date</th>
                    <th>Comment</th>
                </tr>
                </thead>
                    <tbody>
                        <tr th:each="comment : ${comments}">
                            <td th:text="${comment.userId}"></td>
                            <td th:text="${comment.date}"></td>
                            <td th:text="${comment.textField}"></td>
                        </tr>
                    </tbody>
                </table>

                <!--Add new comment form-->
                <form id="new-comment-form" style="margin-top: 40px;" th:if="${canComment}">
                    <div class="form-group">
                        <label for="date">Date</label>
                        <input type="date" class="form-control" id="date" name="date" required>
                    </div>
                    <div class="form-group" hidden>
                        <label for="userId">User ID</label>
                        <input type="text" class="form-control" id="userId" name="userId" th:value="${userId}" required>
                    </div>
                    <div class="form-group" hidden>
                        <label for="entry">Notice entry</label>
                        <input type="text" class="form-control" id="entry" name="entry" th:value="${entry}" required>
                    </div>
                    <div class="form-group">
                        <label for="textField">Comment</label>
                        <textarea class="form-control" rows="4" id="textField" name="textField" required></textarea>
                    </div>
                    <button type="button" class="btn btn-primary" style="margin-bottom: 20px;" th:onclick="'createCommentEntry(' + ${entry.id} + ')'">Comment</button>
                </form>

            </div>

        </div>

    </body>

</html>